@using AspNetCoreTemplate.Common
@using AspNetCoreTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@model AspNetCoreTemplate.Web.ViewModels.Home.IndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}
@if (this.TempData["InfoMessageApply"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageApply"]
    </div>
}
@if (this.SignInManager.IsSignedIn(this.User))
{
    <ul>

        @if (!this.User.IsInRole(GlobalConstants.RestaurantRoleName) &&
        !this.User.IsInRole(GlobalConstants.CourierRoleName) &&
        !this.User.IsInRole(GlobalConstants.AdminRoleName) &&
        !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Address" asp-action="Create">Create Address Delivery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Purchase" asp-action="Purchase">Purchase</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Purchase" asp-action="AllByStatus">All Purchase by Status</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UsersData" asp-action="NavBar">User data</a>
        </li>
        @if (this.User.IsInRole(GlobalConstants.CourierRoleName) ||
  this.User.IsInRole(GlobalConstants.AdminRoleName) ||
  this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courier" asp-action="Details">Details Courier</a>
            </li>
        }

        @if (this.User.IsInRole(GlobalConstants.RestaurantRoleName) ||
  this.User.IsInRole(GlobalConstants.AdminRoleName) ||
  this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Order" asp-action="MenuCreate">Menu Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Restaurant" asp-action="Details">Details Restaurant</a>
            </li>
        }
    </ul>
}
@if (Model.Categories.Count() == 0)
{

}
else
{
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="media col-md-4">
                <img src="@category.ImageUrl" width="100" class="mr-3" style="border-radius: 5px;" alt="@category.Title">
                <div class="media-body">
                    <h5 class="mt-0"><a asp-controller="Order" asp-action="AllByCategories" asp-route-id="@category.Name">@category.Title (@category.OrdersCount)</a></h5>
                </div>
            </div>
        }
    </div>
}

<div class="row" style="margin-top: 50px;">
    @if (!this.User.IsInRole(GlobalConstants.RestaurantRoleName) &&
     !this.User.IsInRole(GlobalConstants.CourierRoleName) &&
     !this.User.IsInRole(GlobalConstants.AdminRoleName) &&
     !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {

    <div class="media col-md-4">
        <div class="media-body text-center">
            <img src=@AllImage.CourierJpg width="300" height="300" class="mr-3" style="border-radius: 5px;" alt="">

            <h5 class="mt-0"><a asp-controller="Courier" asp-action="Create1">Courier Apply</a></h5>
        </div>
    </div>
    <div class="media col-md-4">
        <div class="media-body text-center">
            <img src=@AllImage.RestaurantJpg width="300" height="300" class="mr-3" style="border-radius: 5px;" alt="">

            <h5 class="mt-0"><a asp-controller="Restaurant" asp-action="Create1">Restaurant Apply</a></h5>
        </div>
    </div>
    <div class="media col-md-4">
        <div class="media-body text-center">
            
                <img src=@AllImage.CarriersJpg width="300" height="300" class="mr-3" style="border-radius: 5px;" alt="">

                <h5 class="mt-0"><a asp-controller="Home" asp-action="Carriers">Carriers</a></h5>
            
        </div>
    </div>
    }
</div>