@using AspNetCoreTemplate.Common
@model AspNetCoreTemplate.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Address" asp-action="Create">Create</a>
    </li>
</ul>
@if (Model.Categories.Count() == 0)
{

}
else
{
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="media col-md-4">
                <img src="@category.ImageUrl" width="100" class="mr-3" alt="@category.Title">
                <div class="media-body">
                    <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                </div>
            </div>
        }
    </div>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UsersData" asp-action="NavBar">User data</a>
    </li>
    <a class="btn btn-danger" asp-area="" asp-controller="Courier" asp-action="Details">Details Courier</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Restaurant" asp-action="Details">Details Restaurant</a>
}
