@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@model AspNetCoreTemplate.Web.ViewModels.Purchases.CreatePurchaseViewModel
@{
    this.ViewData["Title"] = "New Menu";
    var totalPrice = Model.MenuPrice + Model.DeliveryPrice;
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" asp-action="Create">
    <div>
        <label asp-for="OrderName"></label>
        <input asp-for="OrderName" class="form-control" value="@Model.OrderName" />
        <span asp-validation-for="OrderName" class="text-danger"></span>
    </div>
        <input type="hidden" asp-for="OrderId" class="form-control" value="@Model.OrderId" />
        <input type="hidden" asp-for="CourierId" class="form-control" value="@Model.CourierId" />
        <input type="hidden" asp-for="RestaurantId" class="form-control" value="@Model.RestaurantId" />
    <div>
        <label asp-for="ResaurantName"></label>
        <input asp-for="ResaurantName" class="form-control" value="@Model.ResaurantName" />
        <span asp-validation-for="ResaurantName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PromotionType"></label>
        <input asp-for="PromotionType" class="form-control" value="@Model.PromotionType" />
        <span asp-validation-for="PromotionType" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="MenuPrice"></label>
        <input asp-for="MenuPrice" class="form-control" value="@Model.MenuPrice" />
        <span asp-validation-for="MenuPrice" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DeliveryPrice"></label>
        <input asp-for="DeliveryPrice" class="form-control" value="@Model.DeliveryPrice" />
        <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
    </div>
    <div>
        <p>@SharedLocalizer.GetLocalizedHtmlString("Total") @SharedLocalizer.GetLocalizedHtmlString("Price")</p>
        <p>@totalPrice</p>
    </div>
    <div>
        <label asp-for="LocationsUser"></label>
        <input asp-for="LocationsUser" class="form-control" value="@Model.LocationsUser" />
        <span asp-validation-for="LocationsUser" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
