@model AspNetCoreTemplate.Web.ViewModels.Purchases.DetailsPurchaseViewModel
@{
    this.ViewData["Title"] = "Detail Purchase";
}
@if (this.TempData["InfoMessageCourier"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageCourier"]
    </div>
}

<h1>@this.ViewData["Title"]</h1>

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <p>Courier image</p>
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" width="80" height="80" class="d-block ui-w-40 rounded-circle" alt="" />
                        <div class="media-body ml-3">
                            <div class="text-muted small">
                                <p>Full Courier name - @Model.CourierName</p>
                            </div>
                            <div class="text-muted small">
                                <p>Menu Name - @Model.OrderName</p>
                            </div>
                            <div class="text-muted small">
                                <p>Rest Name - @Model.RestaurantName</p>
                            </div>
                            <div class="text-muted small">
                                <p>Promotion - @Model.PromotionType</p>
                            </div>
                            <div class="text-muted small">
                                <p>Total Price - @Model.Price</p>
                            </div>
                            <div class="text-muted small">
                                <p>Menu Price - @Model.MenuPrice</p>
                            </div>
                            <div class="text-muted small">
                                <p>Delivery price - @Model.DeliveryPrice</p>
                            </div>
                            <div class="text-muted small">
                                <p>Status - @Model.Status<a class="nav-link text-dark" asp-controller="Purchase" asp-action="ChangeStatus" asp-route-id="@Model.Id">Change Status</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>