@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@model AspNetCoreTemplate.Web.ViewModels.Purchases.DetailsPurchaseViewModel
@{
    this.ViewData["Title"] = "Detail Purchase";
}
@if (this.TempData["InfoMessageCourier"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageCourier"]
    </div>
}

<h1>@this.ViewData["Title"]</h1>

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <p>Courier image</p>
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" width="80" height="80" class="d-block ui-w-40 rounded-circle" alt="" />
                        <div class="media-body ml-3">
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("FullName") @SharedLocalizer.GetLocalizedHtmlString("Courier") - @Model.CourierName</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Menu") @SharedLocalizer.GetLocalizedHtmlString("Name") - @Model.OrderName</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Restaurant") @SharedLocalizer.GetLocalizedHtmlString("Name") - @Model.RestaurantName</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Promotion") - @Model.PromotionType</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Total") @SharedLocalizer.GetLocalizedHtmlString("Price") - @Model.Price</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Menu") @SharedLocalizer.GetLocalizedHtmlString("Price") - @Model.MenuPrice</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Delivery") @SharedLocalizer.GetLocalizedHtmlString("Price") - @Model.DeliveryPrice</p>
                            </div>
                            <div class="text-muted small">
                                <p>@SharedLocalizer.GetLocalizedHtmlString("Back")Status - @Model.Status<a class="nav-link text-dark" asp-controller="Purchase" asp-action="ChangeStatus" asp-route-id="@Model.Id">@SharedLocalizer.GetLocalizedHtmlString("ChangeStatus")</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>