@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@using AspNetCoreTemplate.Common
@using AspNetCoreTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@model AspNetCoreTemplate.Web.ViewModels.Purchases.AllPurchaseViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}
@if (this.TempData["InfoMessageApply"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageApply"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>
@if (Model.Purchases.Count() == 0)
{

}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Menu") @SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Price")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Restaurant") @SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("FullName") @SharedLocalizer.GetLocalizedHtmlString("Courier")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Status")Status</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Date") @SharedLocalizer.GetLocalizedHtmlString("Create")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("OrderId")OrderId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Purchases)
            {
                <tr>
                    <td>@order.OrderName </td>
                    <td>@order.Price</td>
                    <td>@order.RestaurantName</td>
                    <td>@order.CourierName</td>
                    <td>@order.Status</td>
                    <td>@order.CreatedOn.ToString("d")</td>
                    <td>@order.Id</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
}
