@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@model AspNetCoreTemplate.Web.ViewModels.Purchases.DetailsPurchaseViewModel
<form method="post" asp-action="Status">
    <p>@SharedLocalizer.GetLocalizedHtmlString("Menu") @SharedLocalizer.GetLocalizedHtmlString("Name") - <span>@Model.OrderName</span></p>
    <p>@SharedLocalizer.GetLocalizedHtmlString("StatusInThisMoment") - <span>@Model.Status</span></p>
    <p>@SharedLocalizer.GetLocalizedHtmlString("NewStatus") - <span>@Model.NewStatus</span></p>
    <div>
        <input type="hidden" asp-for="Status" class="form-control" value="@Model.Status" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div>
        <input type="hidden" asp-for="Id" class="form-control" value="@Model.Id" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div>
        <input type="hidden" asp-for="NewStatus" class="form-control" value="@Model.NewStatus" />
        <span asp-validation-for="NewStatus" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>