@model AspNetCoreTemplate.Web.ViewModels.Addresses.DetailsAddressIndexViewModel
@{
    this.ViewData["Title"] = "Details Address";
}

<h1 class="display-3">@this.ViewData["Title"]</h1>

 <div class="media-body">
     <ul class="list-inline list-unstyled text-center">
         <li>
             <h3 class="mt-0"><span>City </span>@Model.CityCityName</h3>
         </li>
         <li>
             <h3 class="mt-0"><span>Area </span>@Model.AreaAreaName</h3>
         </li>
         <li>
             <h3 class="mt-0"><span>Street </span>@Model.StreetName</h3>
         </li>
         <li>
             <h3 class="mt-0"><span>Number </span>@Model.LocationNumber | <span>Entrance </span>@Model.LocationEntrance | <span>Flour </span>@Model.LocationFlour | <span>Apartament </span>@Model.LocationApartament</h3>
         </li>
     </ul>
 </div>

 <a class="btn btn-danger" asp-area="" asp-controller="Address" asp-action="NavBarAddress">Back</a>

