@model AspNetCoreTemplate.Web.ViewModels.Restaurants.RestaurantDetailsViewModel
@{
    this.ViewData["Title"] = "Detail Courier";
}
@if (this.TempData["InfoMessageCourier"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageCourier"]
    </div>
}

<h1>@this.ViewData["Title"]</h1>

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" width="80" height="80" class="d-block ui-w-40 rounded-circle" alt="@Model.ImageName" />
                        <div class="media-body ml-3">
                            <div class="text-muted small">
                                <p>Full name - @Model.CourierName</p>
                            </div>
                            <div class="text-muted small">
                                <p>Mobilen Phone @Model.Phone</p>
                            </div>
                            <div class="text-muted small">
                                <p>Email - @Model.Email</p>
                            </div>
                            <div class="text-muted small">
                                <p>City - @Model.City</p>
                            </div>
                            <div class="text-muted small">
                                <p>Workin Area - @Model.WorkingArea - @Model.IsActiv<a class="nav-link text-dark" asp-controller="Courier" asp-action="IsActive" asp-route-id="@Model.Id">Change Status</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>