@using AspNetCoreTemplate.Common
@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@model AspNetCoreTemplate.Web.ViewModels.Restaurants.TakeRestaurantAll

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}

@if (this.TempData["InfoMessageAreas"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageAreas"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>

@if (Model.Restaurant.Count() == 0)
{

}
else
{
    <div class="row">
        @foreach (var restaurant in Model.Restaurant)
        {
            <div class="media flex-wrap w-100 align-items-center view-courier">
                <div class="media-body ml-3">
                    <div class="text-muted small">
                        <p>@SharedLocalizer.GetLocalizedHtmlString("FullName") - @restaurant.User.UserName</p>
                    </div>
                    <div class="text-muted small">
                        <p>@SharedLocalizer.GetLocalizedHtmlString("IsRestaurnat") - @restaurant.IsRestaurnat</p>
                        <a class="nav-link text-dark" asp-controller="Users" asp-action="IsRestaurant" asp-route-id="@restaurant.UserId">@SharedLocalizer.GetLocalizedHtmlString("Approve")</a>
                        <a class="nav-link text-dark" asp-controller="Users" asp-action="NoRestaurant" asp-route-id="@restaurant.UserId">@SharedLocalizer.GetLocalizedHtmlString("Decline")</a>
                    </div>
                    <a class="nav-link text-dark" asp-controller="UsersData" asp-action="Index" asp-route-id="@restaurant.UserId">@SharedLocalizer.GetLocalizedHtmlString("Documents")</a>
                </div>
            </div>
        }
    </div>
}

<hr />
<div>
    <a class="btn btn-danger" asp-area="" asp-controller="Areas" asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("CreateNewArea")</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Streets" asp-action="Create1">@SharedLocalizer.GetLocalizedHtmlString("CreateNewStreet")</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Cities" asp-action="All">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
</div>

