@using AspNetCoreTemplate.Common
@model AspNetCoreTemplate.Web.ViewModels.Users.AllEmail

@{
    this.ViewData["Title"] = $"All Emails";

}
@if (this.TempData["InfoMessageApply"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageApply"]
    </div>
}

<div class="text-center">
    <h1 style="margin:20px;">@this.ViewData["Title"]</h1>
</div>
@if (Model.Emails.Count() == 0)
{

}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>SendDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var email in Model.Emails)
            {
                <tr>
                    <td>@email.From </td>
                    <td>@email.To</td>
                    <td>@email.Subject</td>
                    <td>@email.CreatedOn.ToString("R")</td>
                    <td><a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="EmailDetails" asp-route-id="@email.Id">Details</a></td>

                </tr>
            }
        </tbody>
    </table>
}

@if (this.User.IsInRole(GlobalConstants.AdminRoleName) ||
this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a class="btn btn-primary" style="margin:20px;" asp-area="" asp-controller="Users" asp-action="NavBarAdmin">Back</a>
}
else
{
    <a class="btn btn-primary" style="margin:20px;" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
}
