@using AspNetCoreTemplate.Common
@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreTemplate.Web.Resources
@inject LocService SharedLocalizer
@inject IViewLocalizer Localizer
@model AspNetCoreTemplate.Web.ViewModels.Users.EmailModel
@using AspNetCoreTemplate.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = $"Details Emails";

}
@if (this.TempData["InfoMessageApply"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageApply"]
    </div>
}

<div class="text-center">
    <h1 style="margin:20px;">@this.ViewData["Title"]</h1>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("From") - <strong>@Model.From</strong></p>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("To") - <strong>@Model.To</strong></p>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("Subject") - <strong>@Model.Subject</strong></p>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("Body") - <strong>@Model.BodyDes</strong></p>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("SendTime") - <strong>@Model.CreatedOn.ToString("R")</strong></p>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("SendGridEmail") - <strong>@Model.OriginalEmail</strong></p>
</div>
<div>
    <p>@SharedLocalizer.GetLocalizedHtmlString("UserName") - <strong>@Model.UserName</strong></p>
</div>

@if (this.User.IsInRole(GlobalConstants.AdminRoleName) ||
this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
<a class="btn btn-primary" style="margin:20px;" asp-area="" asp-controller="Users" asp-action="AllEmail">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
}
else
{
<a class="btn btn-primary" style="margin:20px;" asp-area="" asp-controller="Users" asp-action="EmailById">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
}

