@using AspNetCoreTemplate.Common
@model AspNetCoreTemplate.Web.ViewModels.Areas.AreaIndexViewModel

@{
    this.ViewData["Title"] = $"All Areas";
}

@if (this.TempData["InfoMessageAreas"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessageAreas"]
    </div>
}

<div class="text-center userDataInfo">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>

@if (Model.Areas.Count() == 0)
{

}
else
{
    <div class="row">
        @foreach (var area in Model.Areas)
        {
            <div class="media col-md-4">
                <img src="@area.Image" class="mr-3 arrea-image" alt="@area.AreaName">
                <div class="media-body">
                    <h5 class="mt-0"><a asp-controller="Streets" asp-action="All" asp-route-id="@area.Id">@area.AreaName - Streets in this Area(@area.StreetsCount)</a></h5>
                </div>
            </div>
        }
    </div>
}

<hr />
<div>
    <a class="btn btn-primary" asp-area="" asp-controller="Areas" asp-action="Create">Create New Area</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Streets" asp-action="Create1">Create New Street</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Cities" asp-action="All">Back</a>
</div>

